.folder {
    margin-top: 6px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    width: 300px;
    cursor: pointer;
  }

  .folder > span {
    margin: 0 5px 2px 5px;
  }
.file {
    margin-top: 5px;
    padding-left: 10px;
    display: flex;
    /* flex-direction: row; */
    cursor: pointer;
  }